

<form [formGroup]="myForm" (submit)="onSubmit()">
  <div *ngIf="message!=''" class={{alertClass}} role="alert">
    {{message}}
  </div>
  <div class="form-group">
    <label for="task">Task</label>
    <input type="hidden" class="form-control" id="taskId" name="taskId" formControlName="taskId">
    <input type="hidden" class="form-control" id="taskStatus" name="taskStatus" formControlName="taskStatus">
    <input type="text" class="form-control" id="task" name="task" formControlName="task">
    <small *ngIf="!myForm.controls['task'].valid && myForm.controls['task'].dirty">Invalid Task!!</small>
  </div>

  <div class="form-group">
    <label for="priority">Priority - {{myForm.controls['priority'].value}}</label>
    <input type="range" class="custom-range" min="0" max="5" step="1" id="customRange3" 
    id="priority" name="priority" formControlName="priority">
  </div>

  <div class="form-group">
    <label for="parentTask">Parent Task</label>
    <input type="text" class="form-control" id="parentTask" name="parentTask" formControlName="parentTask">
    <small *ngIf="!myForm.controls['parentTask'].valid && myForm.controls['parentTask'].dirty">Invalid Parent Task!!</small>
  </div>
  <div class="form-group">
    <label for="stStartDate">Start Date</label>
    <input type="date" class="form-control" id="stStartDate" name="stStartDate" formControlName="stStartDate">
    <small *ngIf="!myForm.controls['stStartDate'].valid && myForm.controls['stStartDate'].dirty">Invalid Start Date!!</small>
  </div>
  <div class="form-group date">
    <label for="stEndDate">End Date</label>
    <input type="date" class="form-control" id="stEndDate" name="stEndDate" formControlName="stEndDate">
    <small *ngIf="!myForm.controls['stEndDate'].valid && myForm.controls['stEndDate'].dirty">Invalid End Date!!</small>
  </div>
  
  
  <ng-container *ngIf="myForm.controls['taskStatus'].value === 1; else else1">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
      &nbsp;<button type="button" (click)="updateTask()" class="btn btn-primary" [disabled]="!myForm.valid">Update</button>   
      &nbsp;<button type="button" (click)="resetTask()" class="btn btn-primary">Reset</button>
  </ng-container>
  <ng-template #else1>
      <button type="button" class="btn btn-primary" disabled>Submit</button>
      &nbsp;<button type="button" class="btn btn-primary" disabled>Update</button>   
      &nbsp;<button type="button" class="btn btn-primary" disabled>Reset</button>
  </ng-template>
  
    <form>